body {
    background-color: bisque;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.dev01 {
    text-align: center;
    background-color: white;
}

p {
    text-align: center;
}
